name: Build the angular app

on:
  push:
    branches: [ main ]
jobs:
  Running-angular-job:
     runs-on: ubuntu-latest
     steps:
     - name: checkout stage 
       uses: actions/checkout@v6.0.1 
       
     - name: setup node
       uses: actions/setup-node@v6.1.0
       with:
         node-version: 18.x 
         
     - name: print the node version 
       id: node
       run: echo "node_version=$(node -v)" >> $GITHUB_OUTPUT

     - name: using the output from the step
       run: echo "{{ steps.node.outputs.node_version }}

     - name: Install the node cli 
       run: |
         npm install -g @angular/cli@~15
         npm install 
  
     - name: Build the app 
       run: ng build

     - name: upload the artifact
       uses: actions/upload-artifact@v6.0.0
       with:
        name: artifact
        path: dist
         
