name: use the reusable workflow 

on:
  workflow_call:
    inputs:
      nodeversion: 
        required: true
        type: string
        description: "This node version used" 

jobs:
  Running-angular-job:
     runs-on: ubuntu-latest
     steps:
     - name: checkout stage 
       uses: actions/checkout@v6.0.1 
       
     - name: setup node
       uses: actions/setup-node@v6.1.0
       with:
         node-version: "${{ inputs.nodeversion }}"
         
     - name: print the node version 
       id: node
       run: echo "node_version=$(node -v)" >> $GITHUB_OUTPUT

     - name: using the output from the step
       run: echo "${{ steps.node.outputs.node_version }}"

     - name: Install the node cli 
       run: |
         npm install -g @angular/cli@~15
         npm install 
  
     - name: Build the app 
       run: ng build

     - name: sleep
       run: sleep 20 

     - name: upload the artifact
       uses: actions/upload-artifact@v6.0.0
       with:
        name: artifact
        path: dist


  deploy:
     runs-on: ubuntu-latest
     environment: deploy
     needs: [ Running-angular-job ]
     steps:
     - name: download the artifact 
       uses: actions/download-artifact@v7.0.0
       with:
         name: artifact 
         path: artifact-final 

     - name: Display structure of downloaded files
       run: ls -R artifact-final
       
